<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SmokeTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SmokeTestsEntities" connectionString="metadata=res://*/SmokeTestDBModel.csdl|res://*/SmokeTestDBModel.ssdl|res://*/SmokeTestDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=aeqawebsql01a;initial catalog=SmokeTests;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SmokeTestsEntities" connectionString="metadata=res://*/SmokeTestDBModel.csdl|res://*/SmokeTestDBModel.ssdl|res://*/SmokeTestDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmokeTests;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <SmokeTest.Properties.Settings>
      <setting name="ReportPath" serializeAs="String">
        <value>http://wcsqldev02/ReportServer/Pages/ReportViewer.aspx?%2fKalamata%2fKalamataVRH%2fReports%2fCaseLoadDashboard&amp;rs:Command=Render</value>
      </setting>
    </SmokeTest.Properties.Settings>
  </applicationSettings>
</configuration>
